@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Website</h1>
    <p>This is a project by Sam Langdale for learning asp.net and c#</p>
</div>
<div class="text-center">
    <a asp-action ="Expenses" class="btn btn-primary">Expenses Tracker</a>
</div>